$main: #B09EFA;
.container {
  width: 100%;
  height: 100vh;
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  h2 {
    font-size: 35px;
    margin-bottom: 5%;
  }
  form {
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    input {
      width: 100%;
      border: 1px solid #808080;
      padding: 15px 10px;
      margin-bottom: 2%;
      &::placeholder {
        color: #808080;
      }
    }
    button {
      background: $main;
      border: none;
      width: 100%;
      color: #FFFFFF;
      font-size: 20px;
      padding: 12px 0;
      margin-bottom: 5%;
      &:hover {
        box-shadow: 0 0 10px #B09EFA;
        border: 1px inset #B09EFA;
        background: #FFFFFF;
        color: #B09EFA;
        transition: color .5s, background .5s, box-shadow .5s, border .5s;
      }
    }
    a {
      color: $main;
      font-weight: bold;
    }
  }
}