* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

input {
  &:focus {
    outline: unset;
  }
}

button {
  cursor: pointer;
  &:focus {
    outline: unset;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}